.App {
  text-align: center;
}

.App a {
  text-decoration: none;
  color: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #000;
  -webkit-box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.36);
  box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.36);
}

header .brandNav {
  float: left;
  margin: 1em;
  margin-left: 2em;
  vertical-align: middle;
}

header .brandNav img {
  display: inline;
  max-width: 125px;
  vertical-align: middle;
}


header .brandNav h1 {
  display: inline;
  text-transform: uppercase;
  margin-left: 0.5em;
  color: #33539e;
  vertical-align: middle
}

header nav .menu {
  float: right;
  margin-right: 1em;
}

header nav ul {
  margin-right: 2em;
  vertical-align: middle
}

header nav ul li {
  display: inline;
  margin-right: 1em;
  vertical-align: middle
}

header nav ul li .customButton {
  color: white;
  background: none;
}

header nav ul li .customButton:hover {
  background: #3e3e3e;
}

.MuiSvgIcon-root {
  color: white;
}

.clear-both {
  clear: both;
}

.relative {
  position: relative;
}

.itemsCart {
  position: absolute;
  background: white;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  font-size: 11px;
  left: 14px;
  top: 6px;
  color: #000;
}

h1.tituloPrincipal {
  font-size: 1.5em;
  color: #545454;
  margin: 2px;
  margin-bottom: 2px;
}

h1.tituloPrincipal svg {
  color: #545454;
}

.productData .detalle {
  background: #e9e9e9;
  padding: 6px;
  border: 1px solid #d7d7d7;
  border-radius: 40px;
  font-size: 13px;
  cursor: pointer;
}

.productData .detalle:hover {
  background: #dbdbdb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.itemCard, .itemDetail {
  margin: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  background: #f3f3f3;
  overflow: hidden;
}

.itemCard .productData {
  padding: 20px;
  padding-top: 0px
}

.itemCard .imgContainer {
  max-height: 245px;
  overflow: hidden;
}

.itemDetail {
  padding: 2%;
}

.itemDetail .imgContainer {
  width: 48%;
  display: inline-block;
  overflow: hidden;
  max-height: 540px;
  border-radius: 20px;
}

.itemDetail .imgContainer img {
  margin-top: -115px;

}


.itemDetail .productData {
  width: 48%;
  display: inline-block;
  margin-left: 3%;
  align-self: center !important;
  -ms-flex-item-align: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  vertical-align: top;
  /* here */
}

.itemDetail .productData .title {}

.itemDetail .itemCounter .counter, .itemDetail .itemCounter .button {
  text-align: center !important;
}

.itemDetail .productData {
  text-align: left;
}

.center {
  text-align: center;
}

.grey {
  color: grey;
}

.itemCard img {
  max-width: 100%;
  transition: transform .2s;
  margin-top: -4em;
}

.itemCard img:hover {
  transform: scale(1.05);
}

.itemCard .title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 0.4em;
}

.itemCard .description {
  font-size: 13px;
  margin: 0px;
  padding: 0;
}

.itemCard .price {
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.itemCard .stockDisponible {
  font-size: 11px;
  margin: 0;
  padding: 0px;
}

.itemCounter {}

.itemCounter .button, .itemDetail .button, .button {
  display: block;
  cursor: pointer;
  border: 1px solid #545454;
  padding: 0.5em;
  border-radius: 6px;
  color: #545454;
}

.itemCounter .button:hover, .itemDetail .button:hover, .button:hover {
  background: #e900b7;
  border: 1px solid #e900b7;
  color: #fff;
}

.itemCounter .counter {
  margin: 1em 0;
  border: 1px solid lightgrey;
  background: white;
  padding: 15px;
  padding-bottom: 18px;
  border-radius: 10px;
}

.itemCounter .counter .substractEmpty {
  display: inline-block;
  margin: 0;
  float: left;
  font-weight: bold;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

.itemCounter .counter .substract {
  display: inline-block;
  margin: 0;
  float: left;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  width: 25px;
  color: #e900b7;
  border: 1px solid #e900b7;
  border-radius: 5px;
  text-align: center;
}

.itemCounter .counter .add {
  display: inline-block;
  margin: 0;
  float: right;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  width: 25px;
  color: #e900b7;
  border: 1px solid #e900b7;
  border-radius: 5px;
  text-align: center;
}

.itemCounter .counter .add.remove svg {
  color: #e900b7;
}

.itemCounter .counter .add:hover, .itemCounter .counter .substract:hover, .itemCounter .counter .add.remove:hover svg,
.itemCounter .counter .add.remove svg:hover {
  background: #e900b7;
  color: white;
}

.itemCounter .counter .cant {
  display: inline-block;
  margin: 0;

}

ul.detalleComoComprar {
  text-align: left;
}

.marginAuto {
  margin: 0 auto;
}

/*Cart*/
.cartItemContainer {
  vertical-align: middle;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.cartItemContainer.header {
  background: #e900b7;
  color: white;
  padding: 20px 0px;
  font-size: 12px;
}

.display-table {
  height: 100px;
  margin: 10px 0px;
  border-bottom: 1px solid #e7e7e7;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.col-2 {
  width: 16.66666666667%;
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

.align-left {}

.black, .black svg {
  color: #000;
  cursor: pointer;
}

.d-inline-block {
  display: inline-block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}