.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: rgb(242, 242, 242);
  -webkit-box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.36);
  box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.36);
}

header .brandNav {
  float: left;
  margin: 1em;
  margin-left: 2em;
  vertical-align: middle;
}

header .brandNav img {
  display: inline;
  max-width: 24px;
  vertical-align: middle;
}


header .brandNav h1 {
  display: inline;
  text-transform: uppercase;
  margin-left: 0.5em;
  color: #33539e;
  vertical-align: middle
}

header nav .menu {
  float: right;
  margin-right: 1em;
}

header nav ul {
  margin-right: 2em;
  vertical-align: middle
}

header nav ul li {
  display: inline;
  margin-right: 1em;
  vertical-align: middle
}

header nav ul li .customButton {
  background-color: #33539e;
}

header nav ul li .customButton:hover {
  background-color: #3e3e3e;
}

.clear-both {
  clear: both;
}

.relative {
  position: relative;
}

.itemsCart {
  position: absolute;
  background: #33539e;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  font-size: 11px;
  left: 14px;
  top: 6px;
  color: white;
}

h1.tituloPrincipal {
  font-size: 1.5em;
  color: #33539e;
  margin: 2px;
  margin-bottom: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.itemCard {
  margin: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  background: #f3f3f3;
  overflow: hidden;
}

.itemCard .productData {
  padding: 20px;
  padding-top: 0px
}

.itemCard .imgContainer {
  max-height: 295px;
  overflow: hidden;
}

.itemCard img {
  max-width: 100%;
  transition: transform .2s;
}

.itemCard img:hover {
  transform: scale(1.05);
}

.itemCard .title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 0.4em;
}

.itemCard .description {
  font-size: 13px;
  margin: 0px;
  padding: 0;
}

.itemCard .price {
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.itemCounter {}

.itemCounter .button {
  display: block;
  cursor: pointer;
  border: 1px solid #33539e;
  padding: 0.5em;
  border-radius: 6px;
  color: #33539e;
}

.itemCounter .button:hover {
  background: #33539e;
  color: #fff;
}

.itemCounter .counter {
  margin: 1em 0;
  border: 1px solid lightgrey;
  background: white;
  padding: 15px;
  padding-bottom: 18px;
  border-radius: 10px;
}

.itemCounter .counter .substract {
  display: inline-block;
  margin: 0;
  float: left;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  width: 25px;
  color: #33539e;
  border: 1px solid #33539e;
  border-radius: 5px;
}

.itemCounter .counter .add {
  display: inline-block;
  margin: 0;
  float: right;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  width: 25px;
  color: #33539e;
  border: 1px solid #33539e;
  border-radius: 5px;
}

.itemCounter .counter .add:hover, .itemCounter .counter .substract:hover {
  background: #33539e;
  color: white;
}

.itemCounter .counter .cant {
  display: inline-block;
  margin: 0;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}